@inject InjectedService a

Demo from
<form method="post" asp-action="Index" asp-route-id="1" asp-route-testid="adasd"  >
    <input id="test" name="test" value="asdas" />
    <button type="submit">Send</button>
</form>
@a.MyId