@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Primitive Health Check <a href="/IceAgeHealthCheck" target="_blank">ice</a>.</p>
        <p>.NET Core Health Check <a href="/health" target="_blank">/health</a>.</p>
        <p>Example drives <a href="/healthDrives" target="_blank">/healthDrives</a>.</p>
    </div>
