@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>See <a href="/health" target="_blank">health</a>.</p>

        <p>See HC <a href="/hcUI" target="_blank">UI</a>.</p>
    </div>
